header {
    width: 100%;
    height: 66px;
    
}

header p{
    height: 44px;
    background-color: orange;

}

.menu{
    height: 22px;
    background-color: orangered;
    margin-top: -20px;
}

.menu ul>li{
    list-style: none;
    color: white;
    font-size: 10px;
    padding: 0px 15px;
    border-right: 1px solid white;
    font-weight: bold;
}

.menu ul{
    display: flex;
    padding: 5px;
}

article{
    margin: 15px 50px;
}

.noidung-dau{
    display: flex;
}

.nd-dautrai{ 
    display: flex;
    margin-right: 10px;
    width: 390px;
    height: 90px;
    margin-bottom: 20px;
    font-size: 10px;
}

.dauphai{
    width: 250px;
    height: 260px;
    font-size: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.noidung-giua{
    height: 350px;
    display: flex;
    font-size: 10px;
}

.nd2{
    width: 210px;
    height: 350px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.khung{
    font-weight: bolder;
    border-top: 1px solid rgb(223, 197, 148);
    padding-top: 10px;
}

.noidungcuoi{
    height: 210px;
    display: flex;
    font-size: 10px;
}
.cuoitrai{
    width: 450px;
    margin-right: 10px;
}
.cuoiphai{
    width: 210px;
    height: 190px;
    background-color: rgb(255, 230, 147);
    margin-top: 25px;
}

table{ 
    margin-top: -13px;
    border-top: 1px solid rgba(183, 179, 179, 0.536);
}

.dongxemnhiue{
    font-size: 25px; 
    font-weight: bold; 
    padding-right: 10px;
}

footer{
    background-color: rgb(255, 55, 0);
    height: 22px;;
}

button{
    width: 100%;
    background-color: orange;
    border: none;
}